@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p><b>Hugo Araujo R.</b></p>
<address>
    Poniente 126A #29 />
    Mexico City, Nueva Vallejo,07750<br />
    <abbr title="Phone">Phone Number:</abbr>
    +52 1 5544048846
</address>

<address>
    <strong>Support:</strong> <a href="mailto:hugoaraujo@hotmail.com">hugoaraujo@hotmail.com</a><br />
    
</address>
